<template>
    <div class="grid">
        <table>
            <tr>
                <th></th>
                <th v-for="box in grid.x">{{ box }}</th>
            </tr>
            <tbody>
            <tr v-for="box in grid.x">
                {{ box }}
                <td v-for="box in grid.y">
                    <input type="checkbox" class="mr-2">
                </td>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "grid",
        props: ['grid']
    }
</script>

<style scoped>
    .wrapper {
        display: grid;
        grid-template-columns: 20px 20px 20px;
        grid-gap: 30px;
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }
</style>
