<template>
    <div class="playerdata">
        <div class="row">
            <div class="col-md-12"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="player_one_name">Player 1 Name & Color</label>
                    <input type="text" v-model="players_data.player_one.name" class="form-control" id="player_one_name"
                           placeholder="Player 1 Name">
                    <br>
                    <button @click="setColor('primary', 1)" type="button" class="mr-3 btn btn-primary"><i
                        class="fas fa-mouse-pointer"></i></button>
                    <button @click="setColor('success', 1)" type="button" class="mr-3 btn btn-success"><i
                        class="fas fa-mouse-pointer"></i></button>
                    <button @click="setColor('danger', 1)" type="button" class="mr-3 btn btn-danger"><i
                        class="fas fa-mouse-pointer"></i></button>
                    <button @click="setColor('warning', 1)" type="button" class="mr-3 btn btn-warning"><i
                        class="fas fa-mouse-pointer"></i></button>
                    <button @click="setColor('info', 1)" type="button" class="mr-3 btn btn-info"><i
                        class="fas fa-mouse-pointer"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="player_two_name">Player 2 Name & Color</label>
                    <input type="text" v-model="players_data.player_two.name" class="form-control" id="player_two_name"
                           placeholder="Player 2 Name">
                    <br>
                    <button @click="setColor('primary', 2)" type="button" class="mr-3 btn btn-primary"><i
                        class="fas fa-mouse-pointer"></i></button>
                    <button @click="setColor('success', 2)" type="button" class="mr-3 btn btn-success"><i
                        class="fas fa-mouse-pointer"></i></button>
                    <button @click="setColor('danger', 2)" type="button" class="mr-3 btn btn-danger"><i
                        class="fas fa-mouse-pointer"></i></button>
                    <button @click="setColor('warning', 2)" type="button" class="mr-3 btn btn-warning"><i
                        class="fas fa-mouse-pointer"></i></button>
                    <button @click="setColor('info', 2)" type="button" class="mr-3 btn btn-info"><i
                        class="fas fa-mouse-pointer"></i></button>
                </div>
            </div>
            <button class="btn btn-outline-info full-width mt-5">Start game</button>
        </div>
        <hr>
        <grid v-bind:grid="grid"></grid>
    </div>
</template>

<script>
    import Overview from "./game/overview";
    import Grid from "./game/grid";

    export default {
        name: "PlayerData",
        components: {Grid, Overview},
        data() {
            return {
                grid: {
                    x: 10,
                    y: 10,
                },
                players_data: {
                    player_one: {
                        name: '',
                        color: 'primary'
                    },
                    player_two: {
                        name: '',
                        color: 'danger'
                    }
                },
            }
        },
        methods: {
            setColor(color, player) {
                if (player == 1) {
                    this.players_data.player_one.color = color;
                } else if (player == 2) {
                    this.players_data.player_two.color = color;
                } else alert("choose a color again")
            }
        },
    }
</script>

<style scoped>
    .full-width {
        width: 80%;
        margin-left: 20%;
        margin-right: 20%;
    }
</style>
